In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import PowerTransformer

data = pd.read_csv('../../data/raw/avocado/avocado.csv')

# Get the basic info of the data
print(data.info())
print(data.head())
print(data.shape)
print("------------------------------------------")

# Basic data cleaning and validation
data = data[data['region'] != 'TotalUS']  # TotalUS is not a region
data = data.drop(["Unnamed: 0", "Date"], axis=1)
print("Check null data: ")
print(data.isnull().sum())

# Outlier Detection and Removal
numeric_columns = data.select_dtypes(include=[np.number]).columns.tolist()

# Skewness Detection
skewness_before = data[numeric_columns].skew()
print("\nSkewness of each numeric column before the removal of outliers: ")
print(skewness_before)


def outliers_count(df):
    outlier_count_dict = {}

    for column in df:
        q1 = df[column].quantile(0.25)
        q3 = df[column].quantile(0.75)
        iqr = q3 - q1
        lower_thresh = q1 - (1.5 * iqr)
        upper_thresh = q3 + (1.5 * iqr)

        outlier_count = ((df[column] < lower_thresh) | (df[column] > upper_thresh)).sum()
        outlier_count_dict[column] = outlier_count

    return outlier_count_dict


print("\nNumber of outliers in each numeric column: ")
outlier_counts = outliers_count(data[numeric_columns])

df_before = pd.DataFrame(list(outlier_counts.items()), columns=["Column", "No. of outliers"])
df_before.reset_index(drop=True, inplace=True)
print(df_before)


def remove_outliers(df):
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3 - q1
    lower_thresh = q1 - (1.5 * iqr)
    upper_thresh = q3 + (1.5 * iqr)
    df_out = df[~((df < lower_thresh) | (df > upper_thresh)).any(axis=1)]
    return df_out


data[numeric_columns] = remove_outliers(data[numeric_columns])

skewness_after = data[numeric_columns].skew()
print("\nSkewness of each numeric column after the removal of outliers: ")
print(skewness_after)
print("------------------------------------------")

# Perform Yeo-Johnson Transformation to investigate the reduction of skewness
pt = PowerTransformer(method='yeo-johnson')
data2 = data.copy()
data2[numeric_columns] = pt.fit_transform(data2[numeric_columns])

skewness_after_transformation = data2[numeric_columns].skew()
print("\nSkewness of each numeric column after the Yeo-Johnson transformation: ")
print(skewness_after_transformation)

'''
********
Performing Yeo-Johnson Transformation can make the data more closely follow a normal distribution. However the 
transformation changes the values in the data so untransformed data would be used for analysis.
********
'''

print(
    "\nPerforming Yeo-Johnson Transformation can make the data more closely follow a normal distribution. However the "
    "transformation changes the values in the data so untransformed data would be used for analysis.")
print("------------------------------------------")
# Analysis
# Q1
print("1)   Find out the average number of Avocados with PLU 4046 sold in each region (20 points)")
average_avocado_4046 = data.groupby('region')['4046'].mean()
print(average_avocado_4046)
print("------------------------------------------")

# Q2
print("2)   Find out the top ten regions organized by total volume arranged highest to lowest (20 points)")
top_ten_regions_by_volume = data.groupby('region')['Total Volume'].sum().sort_values(ascending=False).head(10)
print(top_ten_regions_by_volume)
print("------------------------------------------")

# Q3
print("3)   An average millennial has a rent of $2000. In general they spend 40% of their rent on food and 20% of "
      "that amount is spent on breakfast. Which region is the best area to live for millennials if the millennial "
      "like to have avocado toast breakfast every 1 time out of three (30 points) Assume you are having one avocado "
      "in the breakfast.")

monthly_food_budget = 2000 * 0.4  # 800
monthly_breakfast_budget = monthly_food_budget * 0.2  # 160
avocado_budget_for_each = monthly_breakfast_budget / 30  # 5.33

data['affordable'] = data['AveragePrice'] <= avocado_budget_for_each
affordable_regions = data[data['affordable']]
print("The average price of avocado with in each region:")
print(affordable_regions.groupby('region')['AveragePrice'].mean())
best_region_for_millennials = affordable_regions.groupby('region')['AveragePrice'].mean().idxmin()
print("\nBest region for millennials (with cheapest avocados):", best_region_for_millennials, "with an average price "
                                                                                              "of ",
      min(affordable_regions.groupby('region')['AveragePrice'].mean()))
print("------------------------------------------")

# Q4
'''
Assuming the sales data for each day of the week is evenly distributed throughout the week, the sales for each day 
would be estimated.
'''
print("4)	If you were an avocado seller and your income depended on selling highest amount of avocados which region "
      "would you take your avocado truck to based on the day. So which region would the truck go to on Monday, "
      "Wednesday and Friday? (30 points)")

# Calculate the daily sales assuming sales are evenly distributed throughout the week
data['Daily Volume'] = data['Total Volume'] / 7

# Estimate the sales for Monday, Wednesday, and Friday
data['MWF Volume'] = data['Daily Volume'] * 3

total_volume_mwf = data.groupby('region')['Daily Volume'].sum()

print("\nThe daily sales of avocados in each region: ")
print(total_volume_mwf)
best_region = total_volume_mwf.idxmax()
print("\nThe best region to sell avocados on Monday, Wednesday, and Friday is", best_region,
      "with an daily volume of",
      max(data.groupby('region')['Daily Volume'].sum()))
print("------------------------------------------")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB
None
   Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0           0  2015-12-27          1.33      64236.62  1036.74   54454.85
1           1  2015-12-20          1.35      54876.98   674.28   44638.81
2           2  2015-12-13          0.93     118220.22   794.70  109149.67
3           3  2015-12-06          1.08      78992.15  1132.00   71976.41
4           4  2015-11-29          1.28      51039.60   941.48   43838.39

     4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0   48.16     8696.87     8603.62       93.25          0.0  conventional
1   58.33     9505.56     9408.07       97.49          0.0  conventional
2  130.50     8145.35     8042.21      103.14          0.0  conventional
3   72.58     5811.16     5677.40      133.76          0.0  conventional
4   75.78     6183.95     5986.26      197.69          0.0  conventional

   year  region
0  2015  Albany
1  2015  Albany
2  2015  Albany
3  2015  Albany
4  2015  Albany
(18249, 14)
------------------------------------------
Check null data:
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

Skewness of each numeric column before the removal of outliers:
AveragePrice    0.577132
Total Volume    3.608709
4046            4.423296
4225            4.127037
4770            6.259901
Total Bags      4.497227
Small Bags      4.284061
Large Bags      7.916074
XLarge Bags     6.952878
year            0.215342
dtype: float64

Number of outliers in each numeric column:
         Column  No. of outliers
0  AveragePrice              193
1  Total Volume             2189
2          4046             2451
3          4225             2551
4          4770             2957
5    Total Bags             2333
6    Small Bags             2187
7    Large Bags             2630
8   XLarge Bags             3981
9          year                0

Skewness of each numeric column after the removal of outliers:
AveragePrice    0.176548
Total Volume    1.973988
4046            3.225362
4225            3.320334
4770            3.882299
Total Bags      1.909498
Small Bags      2.163002
Large Bags      2.640595
XLarge Bags     6.272967
year            0.288178
dtype: float64
------------------------------------------

Skewness of each numeric column after the Yeo-Johnson transformation:
AveragePrice   -0.008166
Total Volume    0.017440
4046           -0.027678
4225           -0.042969
4770            0.296849
Total Bags     -0.044245
Small Bags     -0.058699
Large Bags     -0.124781
XLarge Bags     2.856872
year            0.286031
dtype: float64

Performing Yeo-Johnson Transformation can make the data more closely follow a normal distribution. However the transformation changes the values in the data so untransformed data would be used for analysis.
------------------------------------------
1)   Find out the average number of Avocados with PLU 4046 sold in each region (20 points)
region
Albany                  1060.978633
Atlanta                10030.893810
BaltimoreWashington     2332.970237
Boise                  19949.827760
Boston                   583.464486
BuffaloRochester        1341.158958
California             33403.936707
Charlotte              12819.138524
Chicago                  408.501775
CincinnatiDayton        1614.451356
Columbus               22111.224351
DallasFtWorth           7708.704556
Denver                 11462.850301
Detroit                10328.872926
GrandRapids              848.000594
GreatLakes              5112.127899
HarrisburgScranton     17527.984345
HartfordSpringfield     2909.387963
Houston                 9314.130651
Indianapolis            3414.733364
Jacksonville           32366.642955
LasVegas               41487.715813
LosAngeles             14096.070828
Louisville              1026.654244
MiamiFtLauderdale      20481.428508
Midsouth                4505.462778
Nashville              33995.808425
NewOrleansMobile       48063.728204
NewYork                 6758.036707
Northeast               9274.229613
NorthernNewEngland      2651.787082
Orlando                53870.028529
Philadelphia            8747.682639
PhoenixTucson           5430.586647
Pittsburgh              9829.302270
Plains                  4041.840828
Portland               13265.293313
RaleighGreensboro      20336.990817
RichmondNorfolk        30594.127285
Roanoke                19027.173106
Sacramento             33601.478929
SanDiego                8496.653275
SanFrancisco            8336.297069
Seattle                34199.138081
SouthCarolina          37825.273956
SouthCentral           33989.914675
Southeast               8929.052036
Spokane                12627.879312
StLouis                36539.082601
Syracuse                 885.066384
Tampa                  48756.803009
West                   55772.028333
WestTexNewMexico        2643.102609
Name: 4046, dtype: float64
------------------------------------------
2)   Find out the top ten regions organized by total volume arranged highest to lowest (20 points)
region
Philadelphia           39925654.96
HartfordSpringfield    33057061.81
RichmondNorfolk        29902858.94
HarrisburgScranton     29293560.91
LasVegas               25261447.38
California             25187621.02
Sacramento             24564309.51
StLouis                24176958.46
NorthernNewEngland     22700936.24
Seattle                21649793.40
Name: Total Volume, dtype: float64
------------------------------------------
3)   An average millennial has a rent of $2000. In general they spend 40% of their rent on food and 20% of that amount is spent on breakfast. Which region is the best area to live for millennials if the millennial like to have avocado toast breakfast every 1 time out of three (30 points) Assume you are having one avocado in the breakfast.
The average price of avocado with in each region:
region
Albany                 1.573033
Atlanta                1.549405
BaltimoreWashington    1.724260
Boise                  1.328233
Boston                 1.722595
BuffaloRochester       1.529583
California             1.674731
Charlotte              1.777333
Chicago                1.744201
CincinnatiDayton       1.387006
Columbus               1.346736
DallasFtWorth          1.324734
Denver                 1.373976
Detroit                1.404202
GrandRapids            1.568813
GreatLakes             1.544493
HarrisburgScranton     1.551690
HartfordSpringfield    1.849593
Houston                1.270769
Indianapolis           1.437196
Jacksonville           1.578068
LasVegas               1.481057
LosAngeles             1.455562
Louisville             1.382647
MiamiFtLauderdale      1.545635
Midsouth               1.617531
Nashville              1.279803
NewOrleansMobile       1.365224
NewYork                2.053593
Northeast              1.880194
NorthernNewEngland     1.584506
Orlando                1.628950
Philadelphia           1.699182
PhoenixTucson          1.709880
Pittsburgh             1.372105
Plains                 1.707515
Portland               1.509693
RaleighGreensboro      1.688317
RichmondNorfolk        1.317869
Roanoke                1.271229
Sacramento             1.771027
SanDiego               1.697368
SanFrancisco           1.974741
Seattle                1.567849
SouthCarolina          1.534622
SouthCentral           1.333077
Southeast              1.639222
Spokane                1.388969
StLouis                1.439426
Syracuse               1.528176
Tampa                  1.506637
West                   1.747500
WestTexNewMexico       1.665466
Name: AveragePrice, dtype: float64

Best region for millennials (with cheapest avocados): Houston with an average price of  1.2707692307692307
------------------------------------------
4)	If you were an avocado seller and your income depended on selling highest amount of avocados which region would you take your avocado truck to based on the day. So which region would the truck go to on Monday, Wednesday and Friday? (30 points)

The daily sales of avocados in each region:
region
Albany                 1.714445e+06
Atlanta                5.636948e+05
BaltimoreWashington    5.669063e+05
Boise                  1.879109e+06
Boston                 1.265017e+06
BuffaloRochester       2.295430e+06
California             3.598232e+06
Charlotte              1.683738e+06
Chicago                7.561991e+05
CincinnatiDayton       6.501570e+05
Columbus               1.901873e+06
DallasFtWorth          5.013365e+05
Denver                 8.163777e+05
Detroit                1.152824e+06
GrandRapids            1.313535e+06
GreatLakes             2.311977e+06
HarrisburgScranton     4.184794e+06
HartfordSpringfield    4.722437e+06
Houston                5.664197e+05
Indianapolis           1.121858e+06
Jacksonville           2.130106e+06
LasVegas               3.608778e+06
LosAngeles             1.912325e+06
Louisville             9.492040e+05
MiamiFtLauderdale      8.939561e+05
Midsouth               2.404652e+06
Nashville              2.375029e+06
NewOrleansMobile       2.812084e+06
NewYork                1.209583e+06
Northeast              2.764406e+06
NorthernNewEngland     3.242991e+06
Orlando                2.980196e+06
Philadelphia           5.703665e+06
PhoenixTucson          2.903911e+05
Pittsburgh             2.122001e+06
Plains                 1.182268e+06
Portland               1.370208e+06
RaleighGreensboro      2.367802e+06
RichmondNorfolk        4.271837e+06
Roanoke                2.580995e+06
Sacramento             3.509187e+06
SanDiego               6.839022e+05
SanFrancisco           4.030501e+05
Seattle                3.092828e+06
SouthCarolina          2.671106e+06
SouthCentral           2.588352e+06
Southeast              1.407844e+06
Spokane                2.164641e+06
StLouis                3.453851e+06
Syracuse               1.252596e+06
Tampa                  2.724059e+06
West                   2.250739e+06
WestTexNewMexico       3.515969e+05
Name: Daily Volume, dtype: float64

The best region to sell avocados on Monday, Wednesday, and Friday is Philadelphia with an daily volume of 5703664.994285714
------------------------------------------